@import 'fonts';
@import 'partials';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Lato', 'Inter', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-display: swap !important;
}

html {
  font: 112.5%/1.45em 'Rubik', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

/* Track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
@media only screen and (min-width: 1280px) {
  ::-webkit-scrollbar {
    /* hide x-axis scrollbar track */
    height: 0;
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(76, 76, 76);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(76, 76, 76, 0.7);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;

  &:active,
  &:hover {
    outline-width: 0;
  }
}

iframe {
  border-radius: 25px;
  width: 640px;
  height: 360px;
  max-width: 100%;
  max-height: 100%;
}

/* site layout */
.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;

  .header-content {
    @extend %container !optional;
  }

  .main {
    // @extend %container !optional;
    margin: 1rem 0;
    padding: 1rem;
    flex: 1 0 auto;
  }

  .footer {
    @extend %container !optional;
    margin: 1rem auto 0 auto;
    flex-shrink: 0;
  }

  .scroll-top-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      transition: all 0.1s ease-in-out 0.2s;
    }
  }
}

/* common styles */

.special-link {
  position: relative;
  text-decoration: none;
  transition: color ease 0.3s;
  z-index: 0;
  padding: 2.5px 5px;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: #cc3d5b;
    transition: all ease 0.3s;
  }

  &:hover {
    &::after {
      height: 100%;
    }
  }
}

%thumbnail {
  background: 'gray';
  cursor: pointer;
}

.video-thumbnail {
  @extend %thumbnail;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.video-list-thumbnail {
  @extend %thumbnail;
  border-radius: 15px;
}
